.form__edit-input {
  outline: none;
  border: none;
  font-size: 19px;
  width: 90%;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form__list-text {
  color: black;
  font-size: 1rem;
}

.MuiListItemText-primary {
  color: black;
  font-size: 1rem;
}

.editButton {
  color: #00897b;
  margin-right: 5px;
}

.save {
  color: #00897b;
}
